*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
.background-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
  

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100vw;
    height: 100vh;
}

header{
    border: 3px dashed #ffffff;
    border-radius: 100px;
    width: 50%;
    height: 20%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
     width: 200px;
     padding:30px;
     margin-bottom:15px;

}

main{
    width: 50%;
    height: 60%;
    background-color: rgb(166, 66, 0);
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: white;
    border: 3px dashed white;
    
}

h1{
    color: rgb(0, 0, 0);
    margin:5px 0px 0px 5px;
}

.seletor-intervalo{
    margin: 0px 0px 40px 0px;

}

.area-sorteio{
    margin: 0px 0px 20px 0px;
}


.area-sorteio button{
    margin: 0px 40px 0px 0px;
}

.area-sorteio span{
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px; 
}
.area-sorteio span:hover{
    color: rgb(255, 125, 38);
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    padding: 15px; 
    font-size: 200px;
    transition: font-size 0.2s ease-in-out;
}

.historico ul li{
    background-color: rgb(251, 255, 0);
    color: rgb(255, 125, 38);
} 

.historico ul li:hover{
    background-color: rgb(251, 255, 0);
    color: rgb(255, 125, 38);
    font-size: 200px;
    transition: font-size 0.2s ease-in-out;
} 

button{
    padding: 10px;
    border: 3px dashed rgb(255, 121, 12);
    background-color: rgb(255, 211, 145);
    border-radius: 100px;
    width: 100px;
    height: 50px
}

button:hover{
    background-color: rgb(255, 106, 20);
    cursor: pointer;
    border: 3px dashed rgb(255, 255, 255);
}

button:link{
    color:plum;
}

footer{
    border: 3px dashed #ffffff;
    border-radius: 100px;
    width: 20%;
    height: 15%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}